header{
    display: flex;
    height: 80px;
    min-width: 100%;
    background-color: white;
    padding: 0px 200px;
}

.parte-esquerda-logo{    
    width: 50%;
    display: flex;
    align-items: center;
}

.imagem-logo{
    width: 150px ;
    height: 30px;
}

.parte-direita-logo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 27px;
    padding-right: 20px;
}

.logout {
    color: rgba(19, 135, 241, 1);
    cursor: pointer;
}

@media (max-width: 819px) {
    header{
        padding: 0px 10px;
    }
    .parte-direita-logo{
        gap: 20px;
    }

}
@media (max-width: 500px) {
    .imagem-logo{
        width: 50px;
        height: 50px;
    }
    .parte-direita-logo{
        width: 98%;
    }
}
